<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ovpn-admin</title>
</head>
<body>
<script src="dist/style.min.js"></script>
<div id="app">
  <vue-good-table
    :columns="columns"
    :rows="filteredRows"
    :line-numbers="true"
    :row-style-class="rowStyleClassFn"
    :search-options="{ enabled: true}" >
    <div slot="table-actions">
      <button type="button" class="btn btn-sm btn-success el-square" v-show="serverRole == 'master'" v-on:click.stop="u.modalNewUserVisible=true">添加用户</button>
      <b-badget class="btn btn-sm btn-info el-square" v-if="serverRole == 'slave'">从 - 上次同步: {{ lastSync }}</b-badget>
      <button type="button" class="btn btn-sm btn-secondary el-square" v-on:click.stop="filters.hideRevoked=!filters.hideRevoked;this.$cookies.set('hideRevoked',!(this.$cookies.get('hideRevoked') == 'true'), -1);">{{ revokeFilterText }}</button>
    </div>
    <div slot="emptystate" class="d-flex justify-content-center">
      <h4>还未创建用户.</h4>
      <br>
      <button type="button" class="btn btn-sm btn-success el-square" v-if="serverRole == 'master'" v-on:click.stop="u.modalNewUserVisible=true">添加用户</button>
    </div>
    <template slot="table-row" slot-scope="props">
      <span v-if="props.column.field == 'actions'">
        <button
          class="btn btn-sm el-square modal-el-margin"
          type="button"
          :title="action.label"
          :data-username="props.row.Identity"
          :data-name="action.name"
          :data-text="action.label"
          @click.left.stop="rowActionFn"
          v-for="action in actions"
          v-bind:class="action.class"
          v-if="action.showWhenStatus == props.row.AccountStatus && action.showForServerRole.includes(serverRole) && action.showForModule.some(p=> modulesEnabled.includes(p))">
          {{ action.label }}
        </button>
      </span>
    </template>
  </vue-good-table>

  <div class="modal-wrapper" v-if="u.modalNewUserVisible" v-bind:style="modalNewUserDisplay">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>添加新用户</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control el-square modal-el-margin" placeholder="用户名 [_a-zA-Z0-9\.-]" v-model="u.newUserName">
          <input type="password" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="密码 [_a-zA-Z0-9\.-]" v-model="u.newUserPassword" v-if="modulesEnabled.includes('passwdAuth')">
        </div>

        <div class="modal-footer justify-content-center" v-if="u.newUserCreateError.length > 0">
          <div class="alert alert-danger" role="alert" >
            {{ u.newUserCreateError }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="createUser()">创建</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.newUserName='';u.newUserPassword='nopass';u.modalNewUserVisible=false">取消</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalChangePasswordVisible" v-bind:style="modalChangePasswordDisplay">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>修改密码: <strong>{{ username }}</strong></h4>
        </div>
        <div class="modal-body">
          <input type="password" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="密码 [_a-zA-Z0-9\.-]" v-model="u.newPassword">
        </div>

        <div class="modal-footer justify-content-center" v-if="u.passwordChangeMessage.length > 0">
          <div class="alert" v-bind:class="passwordChangeStatusCssClass" role="alert" >
            {{ u.passwordChangeMessage }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="changeUserPassword(username)">修改密码</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.newPassword='';u.passwordChangeMessage='';u.modalChangePasswordVisible=false">取消</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalShowConfigVisible" v-bind:style="modalShowConfigDisplay">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>ovpn config for: <strong>{{ username }}</strong></h4>
        </div>
        <div class="modal-body">
          <div class="d-flex">
            <pre class="modal-show-config-txt-box">{{ u.openvpnConfig }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex">
            <button type="button" class="btn btn-success el-square modal-el-margin" v-clipboard:copy="u.openvpnConfig">复制 </button>
            <button type="button" class="btn btn-primary el-square modal-el-margin" v-on:click.stop="u.openvpnConfig='';u.modalShowConfigVisible=false">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalShowCcdVisible" v-bind:style="modalShowCcdDisplay">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="static-address-label ">路由表: <strong>{{ username }}</strong></h3>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <h5 class="static-address-label ">静态地址:</h5>
            <input id="static-address" type="text" class="form-control" v-model="u.ccd.ClientAddress" placeholder="127.0.0.1">
            <div class="input-group-append">
              <button id="static-address-clear" class="btn btn-warning" type="button" v-on:click="u.ccd.ClientAddress = 'dynamic'" v-if="serverRole == 'master'" v-bind:disabled="customAddressDynamic">清除</button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="d-flex ">
            <table class="table table-bordered table-hover ccd-routes" >
              <thead>
              <tr>
                <th scope="col">IP地址</th>
                <th scope="col">掩码</th>
                <th scope="col">备注</th>
                <th scope="col" v-if="serverRole == 'master'">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(customRoute, index) in u.ccd.CustomRoutes">
                <td>
                  <div v-if="serverRole == 'slave'">
                    {{ customRoute.Address }}
                  </div>
                  <input v-if="serverRole == 'master'" v-model="customRoute.Address">
                </td>
                <td>
                  <div v-if="serverRole == 'slave'">
                    {{ customRoute.Mask }}
                  </div>
                  <input v-if="serverRole == 'master'" v-model="customRoute.Mask">
                </td>
                <td>
                  <div v-if="serverRole == 'slave'">
                    {{ customRoute.Description }}
                  </div>
                  <input v-if="serverRole == 'master'" v-model="customRoute.Description">
                </td>
                <td class="text-right" v-if="serverRole == 'master'">
                  <button type="button" class="btn btn-danger btn-sm el-square modal-el-margin" v-if="serverRole == 'master'" v-on:click.stop="u.ccd.CustomRoutes.splice(index, 1)">删除</button>
                </td>
              </tr>
              <tr v-if="serverRole == 'master'">
                <td><input type="text" v-model="u.newRoute.Address"/></td>
                <td><input type="text" v-model="u.newRoute.Mask"/></td>
                <td><input type="text" v-model="u.newRoute.Description"/></td>
                <td class="text-right" v-if="serverRole == 'master'">
                  <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="u.ccd.CustomRoutes.push(u.newRoute);u.newRoute={};">添加</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer justify-content-center" v-if="u.ccdApplyStatusMessage.length > 0">
          <div class="alert" v-bind:class="ccdApplyStatusCssClass" role="alert">
            {{ u.ccdApplyStatusMessage }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success el-square modal-el-margin" v-if="serverRole == 'master'" v-on:click.stop="ccdApply()">保存</button>
          <button type="button" class="btn btn-primary el-square modal-el-margin" v-on:click.stop="u.ccd={Name:'',ClientAddress:'',CustomRoutes:[]};u.ccdApplyStatusMessage='';u.ccdApplyStatus='';u.modalShowCcdVisible=false">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <notifications position="bottom left" :speed="900" />
</div>
<script src="dist/bundle.min.js"></script>
</body>
</html>
